.main-chat
  .main-chat__header
    .main-chat__header__left
      .main-chat__header__left__current-group
        = @group.name
      .main-chat__header__left__member
      .main-chat__header__left__member__M
        %ul Member :  megu
    .main-chat__header__right  
      = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get
  .main-chat__messages
    = render @messages
    
  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "main-chat__form__new-message", placeholder: 'type a message'
      .main-chat__form__new-message__input-box
        = f.label :image, class: "main-chat__form__new-message__input-box__image" do
          =icon('fa','image')
          = f.file_field :image,class: 'main-chat__form__new-message__input-box__image__file'
      = f.submit 'Send', class: 'main-chat__form__new-message__submit-btn'