.main-chat
  .main-chat__header
    .main-chat__header__left
      .main-chat__header__left__current-group
        = @group.name
      .main-chat__header__left__member
      .main-chat__header__left__member__M
        Member : 
        %ul 
          - @group.users.each do |user|
            %li= user.name
    .main-chat__header__right  
      = link_to 'Edit', "/groups/#{@group.id}/edit", method: :get
  .main-chat__messages
    = render @messages
    
  .main-chat__form
    = form_for [@group, @message] do |f|
      .main-chat__form__oya
        = f.text_field :content, class:'main-chat__form__oya__new', placeholder: 'type a message'
        = f.label :image, class:"main-chat__form__oya__image" do
          = icon('far','image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class:'main-chat__form__oya__submit'